<h2 mat-dialog-title>Create Task</h2>


  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Task Title</mat-label>
    <input matInput [formControl]="taskTitle" />
    <mat-error *ngIf="taskTitle.hasError('required')">
      Title is required
    </mat-error>
  </mat-form-field>


<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="createTask()" [disabled]="taskTitle.invalid">
    Create
  </button>
</mat-dialog-actions>
